<% include ../partials/header %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="container">
          <div class="jumbotron">
            <h1> <%=Title%></h1>
            <small><%=Year%> - <%=Director%> - <%=Genre%></small>
            <hr>
          </div>
          <div class="row">
           <div class="col-sm-4 right">
            <div class="item movie-item">
            <% if (favourited) { %>
              <span class="fav-glyph-after glyphicon glyphicon-star"></span>
              <div class="fav-button">
                <form class="form favourite-form" action="/globalfavourites/">
                  <input type="hidden" name="imdbID" value="<%= imdbID %>">
                  <input type="hidden" name="title" value="<%= Title %>">
                  <input type="hidden" name="year" value="<%= Year %>">
                  <input type="hidden" name="poster" value="<%= Poster %>">
                  <span class="fav-glyph glyphicon glyphicon-star-empty" style="display:none;"></span>
                </form>
              </div>
            <% } else { %>
              <span class="fav-glyph-after glyphicon glyphicon-star" style="display:none;"></span>
              <div class="fav-button">
                <form class="form favourite-form" action="/globalfavourites/">
                  <input type="hidden" name="imdbID" value="<%= imdbID %>">
                  <input type="hidden" name="title" value="<%= Title %>">
                  <input type="hidden" name="year" value="<%= Year %>">
                  <input type="hidden" name="poster" value="<%= Poster %>">
                  <span class="fav-glyph glyphicon glyphicon-star-empty"></span>
                </form>
              </div>
            <% } %>
              <div class="poster">
                <img class="posters" src="<%=Poster%>">
                <div class="overlay overlay-movie">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 left">
            <p>Cast: <%=Actors%> </p>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Rotten Tomatoes</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=tomatoMeter%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=tomatoMeter%>%">
                    <span>Rotten Tomatoes Rating: <%=tomatoMeter%>%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">IMDB</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=imdbRating*10%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=imdbRating*10%>%">
                    <span>IMDB Rating: <%=imdbRating*10%>%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">MetaCritic</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=Metascore%>%" aria-valuemin="0" aria-valuemax="100" style="width: <%=Metascore%>%">
                    <span>MetaCritic Rating: <%=Metascore%>%</span>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <p> <%=Plot%> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<% include ../partials/footer %>