
<% include ../partials/header %>
<div class="container favourites-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Your Favourites:</h1>
    </div>
  </div>
  <div class="row favourites-row">
    <div class="col-sm-12">
      <% favourites.favourite.forEach(function(obj) { %>
      <div class="item">
        <div class="dlt-overlay">
          <a href="/globalfavourites/<%=obj.id%>">
            <div class="form-group">
              <a href="/globalfavourites/<%=obj.id%>" class="dlt-btn btn"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
          </a>
        </div>
        <div class="comment-overlay">
          <form class="form comments-form" action="/globalfavourites/<%=obj.id%>/comments">
            <span class="glyphicon glyphicon-edit"></span>
          </form>
        </div>
        <a class="poster" href="/globalfavourites/<%=obj.id%>">
          <img class="posters" src="<%=obj.poster%>">
          <div class="overlay">
            <h2><%=obj.title%></h2>
            <p><%=obj.year%></p>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<% include ../partials/footer %>

